<div class="fullBox">
  
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Open Twitter</h2>
    </div>  
  </div>

  <hr>


  <div class="row">

    <div class="col-xs-6 text-center">
      <input type="text" placeholder="Write your tweet" class=" pull-left tweet-input" ng-model="timeline.twit.text" >
    </div>  

    <div class="col-xs-6 text-center">
      <a class="send-button btn btn-warning"  ng-click="timeline.send()" >Send tweet</a>
    </div>  

  </div>

  <hr>

  <div class="row class timeline-section text-center">

    <div class="col-xs-8">
        <h4>User Timeline</h4>
        <div class="tweets-container">
          <ul class = "tweet-list">
            <li ng-repeat="twit in timeline.twits">{{twit.text}}</li>
          </ul>
        </div>
    </div>

    <!-- USERS -->
    <div class="col-xs-4">
        <h4>Users to follow</h4>
        <input type="text" ng-model="userr" class="form-control"/>
        <div class="users-container">
          <ul class = "users-list">
            <li ng-repeat="user in timeline.users | filter:{username:userr}">
              <a class="follow-button btn btn-danger" ng-click="timeline.follow($index)" ng-hide='tl.access()'>Follow</a>
              <a class="unfollow-button btn btn-danger" ng-click="timeline.unfollow($index)" ng-show=tl.access()>Unfollow</a>
              {{user.username}}
            </li>
          </ul>          
        </div>
    </div>

  </div>

</div>
