<!-- <div class="container well">asdasd</div> -->

<div class="login1 register-section text-center"  >

  <div class="col-xs-12 login2">
    <div class="panel panel-default">
      <div class="panel-heading">
				<h3>Login Twitter</h3>
      </div>
      <div class="panel-body">
				<div class="row">
					<div class="col-xs-12">
						<input type="text" placeholder="Email" class="form-control" ng-model='login.email'>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<input type="text" placeholder="Password" class="form-control" ng-model='login.password'>
					</div>
				</div>	
      </div>
      <div class="panel-footer">
        <form ng-submit="login.access()">
					<div class="row">
						<div class="col-xs-12">
							<button type="submit" class="btn btn-primary">Send</button>
						</div>
					</div>	
        </form>
      </div>            
    </div>
  </div>
</div>

