body{
	
}



/*           LOGIN                 */

.login {
	position: absolute;
	top: 120px;
	width: 400px;
	height: 540px;
	border: 6px solid #000;
	left: 33%;
}

.login1 {
	position: absolute;
	top: 33%;
	width: 33%;
	height: 50%;
	border: 6px solid #000;
	left: 33%;
}

.login2 {
	position: absolute;
	top: 10%;
	bottom: 10%;
}

.login-biography{
	width: 253px;
	height:60px;
	margin-top: 20px;
	border:1px solid black;
}

.login-input {
	width: 253px;
	height: 28px;
	margin-top: 43px;
	border:1px solid black;
}

.login-button1{
	margin-top: 50px;
}

.login-button2{
	margin-top: 50px;
}



/*           REGISTER                 */

.register-section{
	background-color:#1abc9c;
}


/*           TIMELINE                 */

.fullBox {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 5%;
	right: 5%;
	background-color: #34495e;
}

.tweet-input{
	width: 100%;
	height: 50px;
	margin-left: 20px;
}

.send-button{
	margin-top: 10px;
}

.timeline-section{
	padding-top: 20px;;
}

.tweets-container{
	width: 90%;
	height: 400px;
	margin-left: 20px;
	overflow-y: scroll;
	background-color: white;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.users-container{
	width: 90%;
	height: 400px;
	margin-left: 10px;
	background-color: white;
	overflow-y: scroll;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.tweet-list, .users-list{
	list-style: none;
	text-align: left;

}

.follow-button{
	height:20px;
	font-size: 10px;
	background-color:#2ecc71;
	border:none;
}

.unfollow-button{
	height: 20px;
	font-size: 10px;
	background-color:#e74c3c;
}


