
<div class="login register-section text-center"  >

	<div class="row">
		<h3>Open Twitter</h3>
		<h4>Register section</h4>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<input type="text" placeholder="Username" class="login-input" ng-model='register.user.username'>
		</div>
	</div>

	<div class="row">
		<div class='col-xs-12'>
			<textarea type="text" placeholder="Biography" class="login-biography" ng-model='register.user.biography'></textarea>
		</div>
	</div>

	<div class="row">
		<div class='col-xs-12'>
		<input type="text" placeholder="Email" class="login-input" ng-model='register.user.user_attributes.email'>
		</div>
	</div>

	<div class="row">
		<div class='col-xs-12'>
		<input type="text" placeholder="Password" class="login-input" ng-model='register.user.user_attributes.password'>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-12">
			<a class="login-button2 btn btn-warning" ng-click='register.access()'>Register</a>
		</div>
	</div>


</div>